{% block content %}
<div class="w3-container w3-padding-64 w3-light-blue w3-grayscale-min" id="his">
<!--style="background-image: url('https://t3.ftcdn.net/jpg/04/33/56/24/360_F_433562472_nRMv1VcQOjCusDXDh4ArXmH2Ck85K3jx.jpg');
background-size: cover; background-position: center center; background-repeat: no-repeat;">-->
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>{{ t.maximos }}</b></h1>
    <p>{{ t.intro }}</p>
    <p><i>
      {{ t.text }}</i>
    </p><br>
<!--    <p class="w3-center"><a href="#baptism" class="w3-button w3-black w3-round w3-padding-large w3-large">Baptism Details</a></p>-->
  </div>
</div>
{% endblock %}