<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Maximos{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <style>
    body,h1,h2{font-family: "Raleway", sans-serif}
    body, html {height: 100%; max-width: 1024px; margin: 0 auto;}
    p {line-height: 2}
    .bgimg, .bgimg2 {
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }

  </style>
  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Header -->
  {% block header %}{% endblock %}

  <!-- Navbar (sticky bottom) -->
  {% block navbar %}{% endblock %}

  <!-- Main Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  {% block footer %}{% endblock %}

  <!-- JavaScript -->
  {% block extra_js %}{% endblock %}
</body>
</html>